
body {
	background-image: url("images/perspectivegridinfinity.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    gap: 10px;
    perspective: 1000px;
}
body, html {
  height: 100%;
  margin: 0;
}

.scene {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    gap: 5px;
    perspective: 1200px;
    height: 100vh;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.scene::-webkit-scrollbar {
    display: none; 
}

.panel1, .panel2, .panel3, .panel4, .panel5, .panel6, .panel7, .panel8, .panel9, .panel10, .panel11 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    transform-style: preserve-3d;
    flex-shrink: 0;
}

.panel1 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: rotatey(90deg);
    margin-left: -160px;
    scroll-snap-align: start;
}

.panel2 {
    transform: rotatey(0deg) translatez(-800px);
    margin-left: -800px;
}

.panel3 {
    transform: translatez(-800px);
}

.panel4 {
    transform: translatez(-500px) rotatey(-90deg) scaley(.98);;
    margin-left: -280px;
}

.panel5 {
    transform: translatez(-270px);
    margin-left: -250px;
}

.panel6 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-350px) rotatey(60deg); 
    margin-left: -40px;
}

.panel7 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-500px) rotatey(30deg); 
    margin-left: -50px;
}

.panel8 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-560px) rotatey(10deg) ;
    margin-left: -15px;
}

.panel9 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-565px) rotatey(-10deg) ;
    margin-left:0px;
}

.panel10 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-500px) rotatey(-30deg);
    margin-left: -15px;
}

.panel11 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: rotatey(-40deg) translatez(0px);
    margin-left: 15px;
}

.box{
    display: flex;
    width: 175px;
    height: 175px;
    background-color: lightsalmon;
    align-items: center;
    justify-content: center;
    transform: rotateY(calc(var(--i) * -12deg)) translateZ(200px);
  transform-style: preserve-3d;
}