
.overlay{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index:1;
}

.sidetable {
    transform: translatex(1300px) translatey(240px) translateZ(-1000px)
}

.lamp {
    transform: translatex(1300px) translatey(-270px);
}

.curtainleft{
    transform: translatex(2400px) translatey(-600px)
}

.curtainright{
    transform: translatex(2600px) translatey(-1030px)

}


.bodyparts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    top: 50px;
    left: 50px;
    gap: 5px;
    position: fixed;
    z-index: 9999;
}

.hide {
    display: flex;
    width: 75px;
    height: 75px;
    object-fit: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}  


.meatcuts {
    display: flex;
    width: 75px;
    height: 75px;
    object-fit: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}  

.muscle {
    display: flex;
    width: 75px;
    height: 75px;
    object-fit: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}  

.skeleton {
    display: flex;
    width: 75px;
    height: 75px;
    object-fit: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}  

.viscera {
    display: flex;
    width: 75px;
    height: 75px;
    object-fit: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}  

body {
	background-image: url("images/perspectivegridinfinity.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    gap: 10px;
    perspective: 1000px;
}
body, html {
  height: 100%;
  margin: 0;
}

.scene {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    gap: 5px;
    position: relative;
    perspective: 1200px;
    height: 100vh;
    scrollbar-width: none;
}
 .scene::-webkit-scrollbar {
        display: none;
 }

.panel1, .panel2, .panel3, .panel4, .panel5, .panel6, .panel7, .panel8, .panel9, .panel10, .panel11 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    transform-style: preserve-3d;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.panel1 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: rotatey(90deg);
    margin-left: -160px;
}

.panel2 {
    transform: rotatey(0deg) translatez(-800px);
    margin-left: -800px;
}

.panel3 {
    transform: translatez(-800px);
}

.panel4 {
    transform: translatez(-500px) rotatey(-90deg) scaley(.98);;
    margin-left: -280px;
}

.panel5 {
    transform: translatez(-270px);
    margin-left: -250px;
}

.panel6 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-350px) rotatey(60deg); 
    margin-left: -40px;
}

.panel7 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-500px) rotatey(30deg); 
    margin-left: -50px;
}

.panel8 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-560px) rotatey(10deg) ;
    margin-left: -15px;
}

.panel9 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-565px) rotatey(-10deg) ;
    margin-left:0px;
}

.panel10 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: translatez(-500px) rotatey(-30deg);
    margin-left: -15px;
}

.panel11 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transform: rotatey(-40deg) translatez(0px);
    margin-left: 15px;
}

.boxuparrow{
    background-color: transparent !important;
    background-image: url("images/Microsoft-Fluentui-Emoji-Mono-Up-Arrow.1024.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxdownarrow{
    background-color: transparent !important;
    background-image: url("images/Microsoft-Fluentui-Emoji-Mono-Down-Arrow.512.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxleftarrow{
    background-color: transparent !important;
    background-image: url("images/Microsoft-Fluentui-Emoji-Mono-Left-Arrow.512.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxrightarrow{
    background-color: transparent !important;
    background-image: url("images/Microsoft-Fluentui-Emoji-Mono-Right-Arrow.512.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cowgallop{
    background-color: transparent !important;
    background-image: url("images/cowgallop.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dairy1{
    background-color: transparent !important;
    background-image: url("images/dairy1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dairy2{
    background-color: transparent !important;
    background-image: url("images/dairy2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dairy3{
    background-color: transparent !important;
    background-image: url("images/dairy3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dairy4{
    background-color: transparent !important;
    background-image: url("images/dairy4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    width: 175px;
    height: 175px;
    background-color: black;
    align-items: center;
    justify-content: center;
  transform-style: preserve-3d;
}